# macOS
.DS_Store

# Eclipse
.classpath
.project
.settings/

# VSCode
.vscode/

# IntelliJ
.idea/
*.iml

# Compiled Java classes
*.class

# Test output and build artifacts
bin/
build/
out/
target/

# Logs
*.log

# Other
*.swp
*.swo




